* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Bebas Neue', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.content {
    background: url('kazz.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img {
    width: 150px;
    height: 150px;
    border: 5px solid #000000;
    border-radius: 50%;
    margin-bottom: 20px;
    animation: pulse 2s infinite;
}

.profile > p {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    border-radius: 5px;
}

.link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.link > a {
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 2px solid #222;
    background-color: rgba(163, 154, 159, 0.637);
    border-radius: 7px;
    margin: 10px 0;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 400px;
}

.link > a:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
    transform: translateY(-5px);
}

.footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.footer > i {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 600px) {
    .profile img {
        width: 200px;
        height: 200px; 
        margin: 50px;
    }

    .profile > p {
        font-size: 1.8em;
        margin: 20px;
    }

    .link > a {
        font-size: 18px;
    }

    .footer > i {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    .profile img {
        width: 200px;
        height: 200px;
    }

    .profile > p {
        font-size: 1.8em;
    }

    .link > a {
        font-size: 18px;
    }

    .footer > i {
        font-size: 18px;
    }
}


