* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Bebas Neue', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background: url('kazz.jpg')center no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 30%;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img{
    width: 150px;
    height: 150px;
    border: 3px solid #222;
    border-radius: 100%;
    margin: 20px auto;
}

.profile > p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.link{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.link>a {
    text-decoration: none;
    color: #222;
    font-size: 24px;
    text-align: center;
    border: 3px solid #222;
    background-color: #eaeaeaae;
    border-radius: 7px;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.link > a:hover {
    background-color: azure;
}

.footer {
    text-align: center;
    margin-top: 50px;
}

.footer>i {
    color: white;
    font-size: 20px;
}
